.card:not(.task):not(.coluna-kanban) {
  width: 75%;
  color: white;
  background-color: #1E1E1E;
  padding: 3vw;
  border-radius: 15px;
}

.navbar {
  background-color: #1E1E1E;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #1E1E1E;
  border-width: 2px;
  border-top: 0;
}   

.fc-day {
  background-color: #535353;
  border-radius: 8px;
}

.fc-toolbar button {
  background-color: black;
}

.fc-unthemed td.fc-today {
  background-color: #535353;
}

.fc-unthemed td.fc-today .fc-day-number {
  background-color: red;
  margin: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 100%;
}

.fc-other-month {
  background-color: rgb(52, 52, 52);
}

.fc-row .fc-widget-header {
  font-weight: lighter;
}

button {
  all: unset;
}

.card:not(.task) button {
  background-color: #1E1E1E;
  box-shadow: none;
  color: white;
  border: 0;
  font-weight: lighter;
}

.card:not(.task) button .fc-state-default {
  background-color: #1E1E1E;
  box-shadow: none;
  color: white;
  border: 0;
}

.fc-state-default {
  background-image: none;
}  

.fc-agendaWeek-button .fc-button .fc-state-default {
  background-color: #1E1E1E;
  box-shadow: none;
  color: white;
  border: 0;
}

.card:not(.task):not(.coluna-kanban) .fc-state-active:not(.task):not(.coluna-kanban) {
  background-color: #535353;
  border-radius: 10px;
  outline: thin dotted;
  outline: 0px auto;
  outline-offset: 0px;
}

body {
  background-color: #535353;
  color: white;
}

.fc-content, .fc-event {
  background-color: black;
  padding: 2px;
  border-radius: 5px;
}

.fc-event {
  border: 0;
}

.status {
  border: none!important;
}

.card-header {
  background-color: #2c2c2c;
}

.coluna-kanban {
  background-color: #5353533b!important;
  border: none!important;
  padding: 25px;
}

.task {
  background-color: #2c2c2c;
  margin: 5px;
}

#done .task {
  opacity: 0.85;
}

* {
  border-bottom: none!important;
}

.fc-row {
  margin: 2px;
}

.start-button:hover {
  border-radius: 15px;
}

.submit-button:hover {
  border-radius: 10px;
}

#Pomodoro {
  float: right;
  margin: 7px;
  width: 40%;
}

body {
  background-color: #333;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #535353;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.popup, .popupnotif {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 20px;
  border: 1px solid #444;
  z-index: 100;
  width: 300px;
}

.popup-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.popup input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #333;
  color: white;
}

.submit-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 40%;
  margin-right: auto;
}

.alert{
  margin-top: 20px;
}

.modal-content{
  color: #fff;
  background-color: #535353;
}

#addTask{
  margin: 0 auto;
}

#formAddTask{
  color: #fff;
  font-weight: bolder;
}

.sectionInput{
    margin: 10px;
}

#lista {
  margin: 10px 0;
}

#openAddForm{
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

#btnGenerateTaskContainer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

#fileInput {
  width: 96%;
  margin-left: 2%;
}

#labelGenerateTask {
  padding-left: 1.8%;
  font-weight: bold;
}

#infoGenerate {
  color: rgba(255, 255, 255, 0.692) !important;
  padding-left: 4%;
}

#loadingFormAddTask {
  display: none;
  margin: 32%;
}

.logo-header {
  width: 250px;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 0;
  transition: transform 0.4s ease;
}

.past-date-feedback {
  display: none;
  color: #FFC107;
  font-size: 14px;
  margin-top: 5px;
  font-weight: lighter;
}

.btn-transparent:hover {
  transform: scale(1.1);
}

#modal-reminders {
  padding: 20px;
}

.reminder-tab {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.reminder-tab:before {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}